# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cozinha

# Backend
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cozinha?schema=public"
PORT=3001
JWT_SECRET="development_secret_key"

# Frontend
VITE_API_URL="http://localhost:3001"
